<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.softandroid.convoituragev2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".application.Couvoiturage"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".SeConnecter" />
        <activity android:name=".RechercherConvoiturage" />
        <activity android:name=".PublierConvoiturage" />
        <activity android:name=".Inscription"></activity>
    </application>

</manifest>